<div class="job-list">
  <h1>Form List</h1>

  <div class="filter">
    <label for="sort">Sort By</label><br>
    <select name="sort" value={{this.value}} id="sort">
      <option value="jobNumber">Job Number</option>
      <option value="title">Title</option>
      <option value="suburb">Suburb</option>
      <option value="creationDate">Creation Date</option>
    </select>

    <label for="filter">Filter By</label><br>
    <select name="filter" value="open" id="filter">
      <option value="status-all">All Jobs</option>
      <option value="open">Status: open</option>
      <option value="closed">Status: closed</option>
    </select>
  </div>

  {{#each @model as |form|}}
  <LinkTo @route="authenticated.entity.form" @model={{form}} class="job-link">
    <div class="job-row">
      <div class="job-text">
        <header>
          <h1>{{form.name}}</h1>
        </header>
        <p>
          {{form.description}}
        </p>
      </div>
    </div>
  </LinkTo>

  {{/each}}
</div>
