<div class="job-list">
  <h1>Job List</h1>

  <div class="filter">
    <label for="sort">Sort By</label><br>
    <select name="sort" value={{this.value}} id="sort">
      <option value="jobNumber">Job Number</option>
      <option value="title">Title</option>
      <option value="suburb">Suburb</option>
      <option value="creationDate">Creation Date</option>
    </select>

    <label for="filter">Filter By</label><br>
    <select name="filter" value="open" id="filter">
      <option value="status-all">All Jobs</option>
      <option value="open">Status: open</option>
      <option value="closed">Status: closed</option>
    </select>
  </div>

  {{#each @model as |job|}}
      <Jobli @job={{job}} />
  {{/each}}
</div>
