<div class="loginPage">
  <form class="login form">
    <header class="form-header">
      <h1>Login</h1>
    </header>
    <body>
      <div class="form-row">
        <label for="login-username">Username</label>
        <input id="login-username" type="text" />
      </div>
      <div class="form-row">
        <label for="login-password">Password</label>
        <input id="login-password" type="password" />
      </div>
    </body>
    <footer class="form-footer">
      <LinkTo @route="form">
        {{fa-icon "file"}} New Job
      </LinkTo>
      <button class="submit" type="submit">Login</button>
    </footer>
  </form>
</div>
